<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nazam.grandhika">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ga1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TvActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_tv"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".DiningActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dining"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SceneryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_scenery"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_setting"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".InHousePromoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_in_house_promo"
            android:theme="@style/FullscreenTheme" />
    </application>

</manifest>